.hgigj { 
  font-size: 87px;
  margin-right: 49px;
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-top-width: 76px;
  font-size: 32px;
  border-left-width: 60px;
  margin-right: 64px;
  margin-bottom: 68px;
  border-bottom-width: 16px;
  border-left-width: 11px;
  border-left-width: 45px;
  border-top-width: 41px;
  border-top-width: 40px;
  padding-bottom: 59px;
  margin-top: 66px;
  border-bottom-width: 26px;
  padding-top: 17px;
  padding-right: 23px;
  border-left-width: 89px;
  padding-left: 30px;
  padding-right: 70px;
  line-height: 70px;
  margin-bottom: 36px;
  border-top-width: 1px;
  line-height: 26px;
  margin-right: 20px;
  padding-bottom: 84px;
  margin-left: 42px;
  line-height: 37px;
  border-top-width: 33px;
  border-top-width: 48px;
  border-bottom-width: 47px;
  margin-left: 72px;
  border-top-width: 93px;
  margin-right: 7px;
  border-top-width: 27px;
  line-height: 66px;
  margin-bottom: 47px;
  border-bottom-width: 19px;
  margin-bottom: 99px;
  border-bottom-width: 45px;
  padding-right: 0px;
  line-height: 93px;
  padding-top: 27px;
  line-height: 21px;
}
